{% set block = hotrecommend %}
<section id="hot-recommend" class="hot-recommend">
    <div class="section-header">
        <img src="{{ block.titleImage }}" alt="{{ block.titleAlt }}">
    </div>
    <div class="product-grid">
        <div class="hr-container">
            {% for item in block.items %}
                <div class="hr-item {{ item.itemClass }}">
                    <a id="{{ item.trackingId }}" href="{{ item.link }}" target="_blank">
                        <img src="{{ item.image }}" alt="{{ item.alt }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>