<!-- src/_includes/blocks/mainbanner.njk -->
<div class="main-banner">
  <picture>
    <source media="(max-width: 767px)" srcset="/images/main-banner_m.png">
    <img src="/images/main-banner.png" alt="初夏遊樂園 618狂歡購物節">
  </picture>
</div>